.overlayElement {
  z-index: 1;
  position: relative;
}

.whiteBackground {
  z-index: 0;
  width: 100%;
  position: relative;
}

.whiteBackground::after {
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #ece8e1;
  clip-path: polygon(100% 0, 100% 34%, 100% 90%, 0 100%, 0 10%);
}

.whiteBackgroundText {
  z-index: 1
}