html,
body {
  background: rgb(35,38,59);
background: linear-gradient(52deg, rgba(35,38,59,1) 0%, rgba(19,20,30,1) 75%);

  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: 'subpixel-antialiased';
}

@font-face {
  font-family: Regular;
  src: url("../public/fonts/Poppins-Regular.woff2");
}

@font-face {
  font-family: Bold;
  src: url("../public/fonts/Poppins-Bold.woff2");
}

@font-face {
  font-family: Mandalore;
  src: url("../public/fonts/Mandalore.woff2");
}

@font-face {
  font-family: Subheading;
  src: url("../public/fonts/subheading.woff2");
}

@font-face {
  font-family: Mono;
  src: url("../public/fonts/SpaceMono-Regular.woff2");
}

@font-face {
  font-family: FFMark;
  src: url("../public/fonts/FFMark.woff2");
}

@font-face {
  font-family: Hikou;
  src: url("../public/fonts/Hikou\ Light.otf");
}

